@media only screen and (max-width: 758px)
{.btn-outline-primary, .btn-outline-success 
    {
    margin-top: 10px;
    margin-left: 0 !important;
    }
 }
.body {
   background-image: url(background.jpg);
   background-repeat: no-repeat;
   background-size:cover;
}
h1 {
   color: blue;
}
p {
   font-family: sans-serif;
}
